.st0{opacity:0.2;}
.st1{fill:#868686;}
.st2{opacity:0.6;}
.st3{fill:#AFE4FF;}
.st4{fill:#1769E1;}
.st5{fill:#3A94EE;}
.st6{fill:#5EBFFB;}
.st7{fill:#02289F;}
.st8{fill:#0E3DC0;}
.st9{fill:#FFFFFF;}
.st10{fill:#FFFAF6;}
.st11{fill:#87D4FB;}
.st12{fill:url(#SVGID_1_);}
.st13{fill:#0DB148;}
.st14{fill:#E6E4E4;}
.st15{fill:#067E86;}
.st16{display:none;}
.st17{display:inline;fill:#FFFFFF;}
.st18{display:inline;fill:#0E3DC0;}
.st19{display:inline;fill:#1769E1;}
.st20{display:inline;}
.st21{fill:#005366;}
.st22{fill:url(#SVGID_2_);}
.st23{fill:url(#SVGID_3_);}
.st24{fill:url(#SVGID_4_);}
.st25{fill:#73DCD9;}
.st26{fill:#ACD47F;}
.st27{fill:#123E6B;}
.st28{fill:#A1DEFF;}
.st29{fill:#0868AE;}
.st30{fill:#FBF7F0;}
.st31{fill:#6EBCFF;}
.st32{fill:#208CA2;}
.st33{fill:url(#SVGID_5_);}
.st34{fill:url(#SVGID_6_);}
.st35{opacity:0.1;}
.st36{opacity:0.3;fill:#FFFFFF;}
.st37{opacity:0.2;fill:url(#SVGID_7_);}
.st38{opacity:0.3;fill:url(#SVGID_8_);}
.st39{fill:url(#SVGID_9_);}
.st40{opacity:0.2;fill:url(#SVGID_10_);}
.st41{opacity:0.3;fill:url(#SVGID_11_);}
.st42{fill:url(#SVGID_12_);}
.st43{opacity:0.2;fill:url(#SVGID_13_);}
.st44{opacity:0.3;fill:url(#SVGID_14_);}
.st45{fill:url(#SVGID_15_);}
.st46{opacity:0.2;fill:url(#SVGID_16_);}
.st47{opacity:0.3;fill:url(#SVGID_17_);}
.st48{fill:url(#SVGID_18_);}
.st49{opacity:0.2;fill:url(#SVGID_19_);}
.st50{opacity:0.3;fill:url(#SVGID_20_);}
.st51{fill:none;stroke:#0E2A54;stroke-width:0.9253;stroke-miterlimit:10;}
.st52{fill:#2B7EC8;}
.st53{fill:#FAAF3B;}
.st54{display:none;opacity:0.8;fill:url(#SVGID_21_);}
.st55{display:none;opacity:0.5;fill:url(#SVGID_22_);}
.st56{display:none;fill:url(#SVGID_23_);}
.st57{display:none;opacity:0.5;fill:url(#SVGID_24_);}
.st58{opacity:0;fill:#FFFFFF;}
.st59{opacity:4.545455e-02;fill:#FAFAFA;}
.st60{opacity:9.090909e-02;fill:#F5F5F6;}
.st61{opacity:0.1364;fill:#F0F0F1;}
.st62{opacity:0.1818;fill:#EBECEC;}
.st63{opacity:0.2273;fill:#E6E7E7;}
.st64{opacity:0.2727;fill:#E1E2E3;}
.st65{opacity:0.3182;fill:#DCDDDE;}
.st66{opacity:0.3636;fill:#D7D8D9;}
.st67{opacity:0.4091;fill:#D2D3D4;}
.st68{opacity:0.4545;fill:#CDCED0;}
.st69{opacity:0.5;fill:#C8C9CB;}
.st70{opacity:0.5455;fill:#C4C5C6;}
.st71{opacity:0.5909;fill:#BFC0C2;}
.st72{opacity:0.6364;fill:#BABBBD;}
.st73{opacity:0.6818;fill:#B5B6B8;}
.st74{opacity:0.7273;fill:#B0B1B3;}
.st75{opacity:0.7727;fill:#ABACAF;}
.st76{opacity:0.8182;fill:#A6A7AA;}
.st77{opacity:0.8636;fill:#A1A3A5;}
.st78{opacity:0.9091;fill:#9C9EA0;}
.st79{opacity:0.9545;fill:#97999C;}
.st80{fill:#929497;}
.st81{fill:url(#SVGID_25_);}
.st82{clip-path:url(#SVGID_27_);}
.st83{fill:#1352A0;}
.st84{display:none;fill:url(#SVGID_28_);}
.st85{fill:#F0471C;}
.st86{display:none;fill:url(#SVGID_29_);}
.st87{display:none;fill:url(#SVGID_30_);}
.st88{display:none;fill:url(#SVGID_31_);}
.st89{display:none;fill:url(#SVGID_32_);}
.st90{display:none;fill:url(#SVGID_33_);}
.st91{display:none;fill:url(#SVGID_34_);}
.st92{display:none;fill:url(#SVGID_35_);}
.st93{display:none;fill:url(#SVGID_36_);}
.st94{display:none;fill:url(#SVGID_37_);}
.st95{display:none;fill:url(#SVGID_38_);}
.st96{display:none;fill:url(#SVGID_39_);}
.st97{display:none;fill:url(#SVGID_40_);}
.st98{display:none;fill:url(#SVGID_41_);}
.st99{display:none;fill:url(#SVGID_42_);}
.st100{display:none;fill:url(#SVGID_43_);}
.st101{display:none;fill:url(#SVGID_44_);}
.st102{display:none;fill:url(#SVGID_45_);}
.st103{display:none;fill:url(#SVGID_46_);}
.st104{fill:none;}
.st105{clip-path:url(#SVGID_50_);}
.st106{display:none;fill:url(#SVGID_51_);}
.st107{display:none;fill:url(#SVGID_52_);}
.st108{display:none;fill:url(#SVGID_53_);}
.st109{display:none;fill:url(#SVGID_54_);}
.st110{display:none;fill:url(#SVGID_55_);}
.st111{display:none;fill:url(#SVGID_56_);}
.st112{display:none;fill:url(#SVGID_57_);}
.st113{display:none;fill:url(#SVGID_58_);}
.st114{display:none;fill:url(#SVGID_59_);}
.st115{display:none;fill:url(#SVGID_60_);}
.st116{display:none;fill:url(#SVGID_61_);}
.st117{display:none;fill:url(#SVGID_62_);}
.st118{display:none;fill:url(#SVGID_63_);}
.st119{display:none;fill:url(#SVGID_64_);}
.st120{display:none;fill:url(#SVGID_65_);}
.st121{display:none;fill:url(#SVGID_66_);}
.st122{display:none;fill:url(#SVGID_67_);}
.st123{display:none;fill:url(#SVGID_68_);}
.st124{display:none;fill:url(#SVGID_69_);}
.st125{fill:none;stroke:#1050A2;stroke-width:0.9253;stroke-miterlimit:10;}
.st126{opacity:0.65;}
.st127{opacity:6.250000e-02;fill:#FEFEFE;}
.st128{opacity:0.125;fill:#FEFEFE;}
.st129{opacity:0.1875;fill:#FDFDFD;}
.st130{opacity:0.25;fill:#FDFDFD;}
.st131{opacity:0.3125;fill:#FCFCFC;}
.st132{opacity:0.375;fill:#FBFCFC;}
.st133{opacity:0.4375;fill:#FBFBFB;}
.st134{opacity:0.5;fill:#FAFBFB;}
.st135{opacity:0.5625;fill:#F9FAFA;}
.st136{opacity:0.625;fill:#F9F9F9;}
.st137{opacity:0.6875;fill:#F8F9F9;}
.st138{opacity:0.75;fill:#F8F8F8;}
.st139{opacity:0.8125;fill:#F7F8F8;}
.st140{opacity:0.875;fill:#F6F7F7;}
.st141{opacity:0.9375;fill:#F6F7F7;}
.st142{fill:#F5F6F6;}
.st143{fill:url(#SVGID_72_);}
.st144{fill:url(#SVGID_73_);}
.st145{fill:url(#SVGID_74_);}
.st146{fill:url(#SVGID_75_);}
.st147{fill:#0E2A54;}
.st148{opacity:0.5;}
.st149{fill:#808080;}
.st150{fill:none;stroke:#808080;stroke-width:3.099;stroke-miterlimit:10;}
.st151{fill:none;stroke:#1050A2;stroke-width:1.2103;stroke-miterlimit:10;}
.st152{fill:#1050A2;}
.st153{display:none;fill:url(#SVGID_76_);}
.st154{display:none;fill:url(#SVGID_77_);}
.st155{display:none;fill:url(#SVGID_78_);}
.st156{display:none;fill:url(#SVGID_79_);}
.st157{display:none;fill:url(#SVGID_80_);}
.st158{display:none;fill:url(#SVGID_81_);}
.st159{display:none;fill:url(#SVGID_82_);}
.st160{display:none;fill:url(#SVGID_83_);}
.st161{fill:#E0791F;}
.st162{display:none;fill:url(#SVGID_84_);}
.st163{display:none;fill:url(#SVGID_85_);}
.st164{fill:#5EBDEE;}
.st165{display:none;fill:url(#SVGID_86_);}
.st166{display:none;fill:url(#SVGID_87_);}
.st167{display:none;fill:#FAAF3B;}
.st168{display:none;fill:url(#SVGID_88_);}
.st169{display:none;fill:url(#SVGID_89_);}
.st170{display:none;fill:url(#SVGID_90_);}
.st171{display:none;fill:url(#SVGID_91_);}
.st172{display:none;fill:url(#SVGID_92_);}
.st173{display:none;fill:url(#SVGID_93_);}
.st174{display:none;fill:url(#SVGID_94_);}
.st175{display:none;fill:url(#SVGID_95_);}
.st176{display:none;fill:url(#SVGID_96_);}
.st177{display:none;fill:url(#SVGID_97_);}
.st178{display:none;fill:url(#SVGID_98_);}
.st179{display:none;fill:url(#SVGID_99_);}
.st180{display:none;fill:url(#SVGID_100_);}
.st181{display:none;fill:url(#SVGID_101_);}
.st182{display:none;fill:url(#SVGID_102_);}
.st183{display:none;fill:url(#SVGID_103_);}
.st184{display:none;fill:url(#SVGID_104_);}
.st185{display:none;fill:url(#SVGID_105_);}
.st186{display:none;fill:url(#SVGID_106_);}
.st187{display:none;fill:url(#SVGID_107_);}
.st188{display:none;fill:url(#SVGID_108_);}
.st189{fill:url(#SVGID_109_);}
.st190{fill:url(#SVGID_110_);}
.st191{display:none;fill:url(#SVGID_111_);}
.st192{display:none;fill:url(#SVGID_112_);}
.st193{display:none;fill:url(#SVGID_113_);}
.st194{display:none;fill:url(#SVGID_114_);}
.st195{display:none;fill:url(#SVGID_115_);}
.st196{display:none;fill:url(#SVGID_116_);}
.st197{display:none;fill:url(#SVGID_117_);}
.st198{display:none;fill:url(#SVGID_118_);}
.st199{display:none;fill:url(#SVGID_119_);}
.st200{display:none;fill:url(#SVGID_120_);}
.st201{display:none;fill:url(#SVGID_121_);}
.st202{display:none;fill:url(#SVGID_122_);}
.st203{display:none;fill:url(#SVGID_123_);}
.st204{display:none;fill:url(#SVGID_124_);}
.st205{display:none;fill:url(#SVGID_125_);}
.st206{display:none;fill:url(#SVGID_126_);}
.st207{display:none;fill:url(#SVGID_127_);}
.st208{display:none;fill:url(#SVGID_128_);}
.st209{display:none;fill:url(#SVGID_129_);}
.st210{fill:#F05A24;}
.st211{fill:#F1F1F1;}
.st212{fill:url(#SVGID_130_);}
.st213{fill:url(#SVGID_131_);}
.st214{fill:url(#SVGID_132_);}
.st215{fill:url(#SVGID_133_);}
.st216{fill:url(#SVGID_134_);}
.st217{fill:url(#SVGID_135_);}
.st218{fill:none;stroke:#1050A2;stroke-width:1.4293;stroke-miterlimit:10;}
.st219{display:none;fill:url(#SVGID_136_);}
.st220{display:none;fill:url(#SVGID_137_);}
.st221{display:none;fill:url(#SVGID_138_);}
.st222{display:none;fill:url(#SVGID_139_);}
.st223{display:none;fill:url(#SVGID_140_);}
.st224{display:none;fill:url(#SVGID_141_);}
.st225{display:none;fill:url(#SVGID_142_);}
.st226{display:none;fill:url(#SVGID_143_);}
.st227{display:none;fill:url(#SVGID_144_);}
.st228{display:none;fill:url(#SVGID_145_);}
.st229{display:none;fill:url(#SVGID_146_);}
.st230{display:none;fill:url(#SVGID_147_);}
.st231{display:none;fill:url(#SVGID_148_);}
.st232{display:none;fill:url(#SVGID_149_);}
.st233{display:none;fill:url(#SVGID_150_);}
.st234{display:none;fill:url(#SVGID_151_);}
.st235{display:none;fill:url(#SVGID_152_);}
.st236{display:none;fill:url(#SVGID_153_);}
.st237{opacity:4.545455e-02;fill:#F9F9F9;}
.st238{opacity:9.090909e-02;fill:#F4F4F5;}
.st239{opacity:0.1364;fill:#EFF0F0;}
.st240{opacity:0.1818;fill:#EAEBEB;}
.st241{opacity:0.2273;fill:#E5E6E7;}
.st242{opacity:0.2727;fill:#E1E1E2;}
.st243{opacity:0.3182;fill:#DCDCDD;}
.st244{opacity:0.3636;fill:#D7D7D9;}
.st245{opacity:0.4545;fill:#CDCECF;}
.st246{opacity:0.5;fill:#C8C9CA;}
.st247{opacity:0.5455;fill:#C3C4C6;}
.st248{opacity:0.5909;fill:#BEBFC1;}
.st249{opacity:0.6364;fill:#B9BBBC;}
.st250{opacity:0.6818;fill:#B4B6B8;}
.st251{opacity:0.7273;fill:#AFB1B3;}
.st252{opacity:0.7727;fill:#ABACAE;}
.st253{opacity:0.8636;fill:#A1A2A5;}
.st254{display:none;fill:url(#SVGID_154_);}
.st255{display:none;fill:url(#SVGID_155_);}
.st256{display:none;fill:url(#SVGID_156_);}
.st257{display:none;fill:url(#SVGID_157_);}
.st258{display:none;fill:url(#SVGID_158_);}
.st259{display:none;fill:url(#SVGID_159_);}
.st260{display:none;fill:url(#SVGID_160_);}
.st261{display:none;fill:url(#SVGID_161_);}
.st262{display:none;fill:url(#SVGID_162_);}
.st263{display:none;fill:url(#SVGID_163_);}
.st264{display:none;fill:url(#SVGID_164_);}
.st265{display:none;fill:url(#SVGID_165_);}
.st266{display:none;fill:url(#SVGID_166_);}
.st267{display:none;fill:url(#SVGID_167_);}
.st268{display:none;fill:url(#SVGID_168_);}
.st269{display:none;fill:url(#SVGID_169_);}
.st270{display:none;fill:url(#SVGID_170_);}
.st271{display:none;fill:url(#SVGID_171_);}
.st272{display:none;fill:url(#SVGID_172_);}
.st273{fill:url(#SVGID_173_);}
.st274{fill:url(#SVGID_174_);}
.st275{display:none;fill:url(#SVGID_175_);}
.st276{display:none;fill:url(#SVGID_176_);}
.st277{display:none;fill:url(#SVGID_177_);}
.st278{display:none;fill:url(#SVGID_178_);}
.st279{display:none;fill:url(#SVGID_179_);}
.st280{display:none;fill:url(#SVGID_180_);}
.st281{display:none;fill:url(#SVGID_181_);}
.st282{display:none;fill:url(#SVGID_182_);}
.st283{display:none;fill:url(#SVGID_183_);}
.st284{display:none;fill:url(#SVGID_184_);}
.st285{display:none;fill:url(#SVGID_185_);}
.st286{display:none;fill:url(#SVGID_186_);}
.st287{display:none;fill:url(#SVGID_187_);}
.st288{display:none;fill:url(#SVGID_188_);}
.st289{display:none;fill:url(#SVGID_189_);}
.st290{display:none;fill:url(#SVGID_190_);}
.st291{display:none;fill:url(#SVGID_191_);}
.st292{display:none;fill:url(#SVGID_192_);}
.st293{display:none;fill:url(#SVGID_193_);}
.st294{opacity:6.250000e-02;fill:#FDFFFF;}
.st295{opacity:0.125;fill:#FDFDFD;}
.st296{opacity:0.1875;fill:#FCFDFD;}
.st297{opacity:0.25;fill:#FCFCFC;}
.st298{opacity:0.3125;fill:#FBFCFC;}
.st299{opacity:0.375;fill:#FBFBFB;}
.st300{opacity:0.4375;fill:#FAFBFB;}
.st301{opacity:0.5;fill:#FAFAFA;}
.st302{opacity:0.625;fill:#F8F9F9;}
.st303{opacity:0.75;fill:#F7F8F8;}
.st304{fill:url(#SVGID_195_);}
.st305{fill:url(#SVGID_196_);}
.st306{fill:none;stroke:#1050A2;stroke-width:1.2626;stroke-miterlimit:10;}
.st307{fill:url(#SVGID_199_);}
.st308{fill:url(#SVGID_200_);}
.st309{fill:url(#SVGID_201_);}
.st310{fill:url(#SVGID_202_);}
.st311{fill:url(#SVGID_203_);}
.st312{display:none;fill:url(#SVGID_204_);}
.st313{fill:url(#SVGID_205_);}
.st314{fill:url(#SVGID_206_);}
.st315{fill:url(#SVGID_207_);}
.st316{fill:url(#SVGID_208_);}
.st317{fill:url(#SVGID_209_);}
.st318{fill:url(#SVGID_210_);}
.st319{fill:url(#SVGID_211_);}
.st320{fill:url(#SVGID_212_);}
.st321{fill:url(#SVGID_213_);}
.st322{fill:url(#SVGID_214_);}
.st323{fill:url(#SVGID_215_);}
.st324{fill:url(#SVGID_216_);}
.st325{display:none;fill:url(#SVGID_217_);}
.st326{fill:url(#SVGID_218_);}
.st327{fill:url(#SVGID_219_);}
.st328{fill:url(#SVGID_220_);}
.st329{display:none;fill:url(#SVGID_221_);}
.st330{display:none;fill:url(#SVGID_222_);}
.st331{display:none;fill:url(#SVGID_223_);}
.st332{display:none;fill:#5EBDEE;}
.st333{display:none;fill:#2B7EC8;}
.st334{display:none;fill:url(#SVGID_224_);}
.st335{display:none;fill:url(#SVGID_225_);}
.st336{display:none;fill:url(#SVGID_226_);}
.st337{display:none;fill:url(#SVGID_227_);}
.st338{display:none;fill:url(#SVGID_228_);}
.st339{display:none;fill:url(#SVGID_229_);}
.st340{display:none;fill:url(#SVGID_230_);}
.st341{display:none;fill:url(#SVGID_231_);}
.st342{display:none;fill:url(#SVGID_232_);}
.st343{fill:url(#SVGID_233_);}
.st344{display:none;fill:url(#SVGID_234_);}
.st345{display:none;fill:url(#SVGID_235_);}
.st346{fill:url(#SVGID_236_);}
.st347{display:none;fill:url(#SVGID_237_);}
.st348{display:none;fill:url(#SVGID_238_);}
.st349{fill:url(#SVGID_239_);}
.st350{display:none;fill:url(#SVGID_240_);}
.st351{display:none;fill:url(#SVGID_241_);}
.st352{display:none;fill:url(#SVGID_242_);}
.st353{display:none;fill:url(#SVGID_243_);}
.st354{display:none;fill:url(#SVGID_244_);}
.st355{display:none;fill:url(#SVGID_245_);}
.st356{display:none;fill:url(#SVGID_246_);}
.st357{display:none;fill:url(#SVGID_247_);}
.st358{display:none;fill:url(#SVGID_248_);}
.st359{display:none;fill:url(#SVGID_249_);}
.st360{display:none;fill:url(#SVGID_250_);}
.st361{display:none;fill:url(#SVGID_251_);}
.st362{display:none;fill:url(#SVGID_252_);}
.st363{fill:url(#SVGID_253_);}
.st364{fill:url(#SVGID_254_);}
.st365{fill:url(#SVGID_255_);}
.st366{fill:url(#SVGID_256_);}
.st367{fill:none;stroke:#1050A2;stroke-width:1.17;stroke-miterlimit:10;}
.st368{fill:url(#SVGID_257_);}
.st369{fill:url(#SVGID_258_);}
.st370{fill:#1C1C1C;}
.st371{fill:url(#SVGID_259_);}
.st372{fill:url(#SVGID_260_);}
.st373{fill:#09357A;}
.st374{font-family:'Avenir-Heavy';}
.st375{font-size:17.0074px;}
.st376{fill:url(#SVGID_261_);}
.st377{fill:url(#SVGID_262_);}
.st378{display:none;fill:url(#SVGID_263_);}
.st379{display:none;fill:url(#SVGID_264_);}
.st380{display:none;fill:url(#SVGID_265_);}
.st381{display:none;fill:url(#SVGID_266_);}
.st382{display:none;fill:url(#SVGID_267_);}
.st383{display:none;fill:url(#SVGID_268_);}
.st384{display:none;fill:url(#SVGID_269_);}
.st385{display:none;fill:url(#SVGID_270_);}
.st386{display:none;fill:url(#SVGID_271_);}
.st387{display:none;fill:url(#SVGID_272_);}
.st388{display:none;fill:url(#SVGID_273_);}
.st389{display:none;fill:url(#SVGID_274_);}
.st390{display:none;fill:url(#SVGID_275_);}
.st391{display:none;fill:url(#SVGID_276_);}
.st392{display:none;fill:url(#SVGID_277_);}
.st393{display:none;fill:url(#SVGID_278_);}
.st394{display:none;fill:url(#SVGID_279_);}
.st395{display:none;fill:url(#SVGID_280_);}
.st396{display:none;fill:url(#SVGID_281_);}
.st397{display:none;fill:url(#SVGID_282_);}
.st398{display:none;fill:url(#SVGID_283_);}
.st399{display:none;fill:url(#SVGID_284_);}
.st400{display:none;fill:url(#SVGID_285_);}
.st401{display:none;fill:url(#SVGID_286_);}
.st402{display:none;fill:url(#SVGID_287_);}
.st403{display:none;fill:url(#SVGID_288_);}
.st404{display:none;fill:url(#SVGID_289_);}
.st405{display:none;fill:url(#SVGID_290_);}
.st406{display:none;fill:url(#SVGID_291_);}
.st407{display:none;fill:url(#SVGID_292_);}
.st408{display:none;fill:url(#SVGID_293_);}
.st409{display:none;fill:url(#SVGID_294_);}
.st410{display:none;fill:url(#SVGID_295_);}
.st411{display:none;fill:url(#SVGID_296_);}
.st412{display:none;fill:url(#SVGID_297_);}
.st413{display:none;fill:url(#SVGID_298_);}
.st414{display:none;fill:url(#SVGID_299_);}
.st415{display:none;fill:url(#SVGID_300_);}
.st416{display:none;fill:url(#SVGID_301_);}
.st417{display:none;fill:url(#SVGID_302_);}
.st418{display:none;fill:url(#SVGID_303_);}
.st419{display:none;fill:url(#SVGID_304_);}
.st420{display:none;fill:url(#SVGID_305_);}
.st421{display:none;fill:url(#SVGID_306_);}
.st422{display:none;fill:url(#SVGID_307_);}
.st423{display:none;fill:url(#SVGID_308_);}
.st424{display:none;fill:url(#SVGID_309_);}
.st425{display:none;fill:url(#SVGID_310_);}
.st426{display:none;fill:url(#SVGID_311_);}
.st427{display:none;fill:url(#SVGID_312_);}
.st428{display:none;fill:url(#SVGID_313_);}
.st429{display:none;fill:url(#SVGID_314_);}
.st430{display:none;fill:url(#SVGID_315_);}
.st431{fill:url(#SVGID_316_);}
.st432{fill:url(#SVGID_317_);}
.st433{fill:url(#SVGID_318_);}
.st434{fill:url(#SVGID_319_);}
.st435{fill:url(#SVGID_320_);}
.st436{fill:url(#SVGID_321_);}
.st437{fill:url(#SVGID_322_);}
.st438{fill:url(#SVGID_323_);}
.st439{fill:url(#SVGID_324_);}
.st440{fill:url(#SVGID_325_);}
.st441{display:none;fill:url(#SVGID_326_);}
.st442{display:none;fill:url(#SVGID_327_);}
.st443{display:none;fill:url(#SVGID_328_);}
.st444{display:none;fill:url(#SVGID_329_);}
.st445{display:none;fill:url(#SVGID_330_);}
.st446{display:none;fill:url(#SVGID_331_);}
.st447{fill:#EE6C52;}
.st448{display:none;fill:url(#SVGID_332_);}
.st449{display:none;fill:url(#SVGID_333_);}
.st450{display:none;fill:url(#SVGID_334_);}
.st451{display:none;fill:url(#SVGID_335_);}
.st452{display:none;fill:url(#SVGID_336_);}
.st453{display:none;fill:url(#SVGID_337_);}
.st454{display:none;fill:url(#SVGID_338_);}
.st455{display:none;fill:url(#SVGID_339_);}
.st456{display:none;fill:url(#SVGID_340_);}
.st457{display:none;fill:url(#SVGID_341_);}
.st458{display:none;fill:url(#SVGID_342_);}
.st459{display:none;fill:url(#SVGID_343_);}
.st460{display:none;fill:url(#SVGID_344_);}
.st461{display:none;fill:url(#SVGID_345_);}
.st462{display:none;fill:url(#SVGID_346_);}
.st463{display:none;fill:url(#SVGID_347_);}
.st464{display:none;fill:url(#SVGID_348_);}
.st465{display:none;fill:url(#SVGID_349_);}
.st466{display:none;fill:url(#SVGID_350_);}
.st467{display:none;fill:url(#SVGID_351_);}
.st468{display:none;fill:url(#SVGID_352_);}
.st469{display:none;fill:url(#SVGID_353_);}
.st470{display:none;fill:url(#SVGID_354_);}
.st471{display:none;fill:url(#SVGID_355_);}
.st472{display:none;fill:url(#SVGID_356_);}
.st473{display:none;fill:url(#SVGID_357_);}
.st474{display:none;fill:url(#SVGID_358_);}
.st475{display:none;fill:url(#SVGID_359_);}
.st476{display:none;fill:url(#SVGID_360_);}
.st477{display:none;fill:url(#SVGID_361_);}
.st478{display:none;fill:url(#SVGID_362_);}
.st479{display:none;fill:url(#SVGID_363_);}
.st480{display:none;fill:url(#SVGID_364_);}
.st481{display:none;fill:url(#SVGID_365_);}
.st482{display:none;fill:url(#SVGID_366_);}
.st483{fill:url(#SVGID_367_);}
.st484{fill:url(#SVGID_368_);}
.st485{fill:none;stroke:#1050A2;stroke-width:1.5089;stroke-miterlimit:10;}
.st486{fill:url(#SVGID_369_);}
.st487{fill:url(#SVGID_370_);}
.st488{opacity:0.3;}
.st489{fill:none;stroke:#000000;stroke-width:1.5089;stroke-miterlimit:10;}
.st490{fill:none;stroke:#1050A2;stroke-width:0.3772;stroke-miterlimit:10;}
.st491{opacity:0.5;fill:#FFFFFF;}
.st492{display:none;fill:url(#SVGID_371_);}
.st493{display:none;fill:url(#SVGID_372_);}
.st494{fill:#C6D000;}
.st495{fill:#C6D001;}
.st496{fill:#C7D102;}
.st497{display:none;opacity:0.2;}
.st498{fill:none;stroke:#000000;stroke-miterlimit:10;}
.st499{fill:none;stroke:#1050A2;stroke-width:1.4674;stroke-miterlimit:10;}
.st500{display:none;fill:url(#SVGID_373_);}
.st501{display:none;fill:url(#SVGID_374_);}
.st502{display:none;fill:url(#SVGID_375_);}
.st503{display:none;fill:url(#SVGID_376_);}
.st504{display:none;fill:url(#SVGID_377_);}
.st505{display:none;fill:url(#SVGID_378_);}
.st506{display:none;fill:url(#SVGID_379_);}
.st507{display:none;fill:url(#SVGID_380_);}
.st508{display:none;fill:url(#SVGID_381_);}
.st509{display:none;fill:url(#SVGID_382_);}
.st510{display:none;fill:url(#SVGID_383_);}
.st511{display:none;fill:url(#SVGID_384_);}
.st512{display:none;fill:url(#SVGID_385_);}
.st513{display:none;fill:url(#SVGID_386_);}
.st514{display:none;fill:url(#SVGID_387_);}
.st515{display:none;fill:url(#SVGID_388_);}
.st516{display:none;fill:url(#SVGID_389_);}
.st517{display:none;fill:url(#SVGID_390_);}
.st518{display:none;fill:url(#SVGID_391_);}
.st519{fill:url(#SVGID_392_);}
.st520{display:none;fill:url(#SVGID_393_);}
.st521{display:none;fill:url(#SVGID_394_);}
.st522{display:none;fill:url(#SVGID_395_);}
.st523{display:none;fill:url(#SVGID_396_);}
.st524{display:none;fill:url(#SVGID_397_);}
.st525{display:none;fill:url(#SVGID_398_);}
.st526{display:none;fill:url(#SVGID_399_);}
.st527{fill:#C54B4B;stroke:#814141;stroke-width:3.6685;stroke-miterlimit:10;}
.st528{fill:#E14B4B;}
.st529{display:none;opacity:0.5;fill:url(#SVGID_400_);}
.st530{display:none;opacity:0.5;fill:url(#SVGID_401_);}
.st531{fill:url(#SVGID_402_);}
.st532{fill:url(#SVGID_403_);}
.st533{display:none;fill:url(#SVGID_404_);}
.st534{display:none;fill:url(#SVGID_405_);}
.st535{display:none;fill:url(#SVGID_406_);}
.st536{display:none;fill:url(#SVGID_407_);}
.st537{display:none;fill:url(#SVGID_408_);}
.st538{display:none;fill:url(#SVGID_409_);}
.st539{display:none;fill:url(#SVGID_410_);}
.st540{display:none;fill:url(#SVGID_411_);}
.st541{display:none;fill:url(#SVGID_412_);}
.st542{display:none;fill:url(#SVGID_413_);}
.st543{display:none;fill:url(#SVGID_414_);}
.st544{display:none;fill:url(#SVGID_415_);}
.st545{display:none;fill:url(#SVGID_416_);}
.st546{display:none;fill:url(#SVGID_417_);}
.st547{display:none;fill:url(#SVGID_418_);}
.st548{display:none;fill:url(#SVGID_419_);}
.st549{display:none;fill:url(#SVGID_420_);}
.st550{display:none;fill:url(#SVGID_421_);}
.st551{fill:url(#SVGID_422_);}
.st552{fill:none;stroke:#5B5B5A;stroke-width:0.3669;stroke-miterlimit:10;}
.st553{fill:url(#SVGID_423_);}
.st554{fill:url(#SVGID_424_);}
.st555{fill:url(#SVGID_425_);}
.st556{fill:url(#SVGID_426_);}
.st557{fill:url(#SVGID_427_);}
.st558{fill:url(#SVGID_428_);}
.st559{fill:url(#SVGID_429_);}
.st560{fill:url(#SVGID_430_);}
.st561{clip-path:url(#SVGID_432_);}
.st562{clip-path:url(#SVGID_434_);fill:#001A70;}
.st563{clip-path:url(#SVGID_434_);fill:#005BBB;}
.st564{fill:#D7D3D2;}
.st565{fill:#282C33;}
.st566{fill:#546072;}
.st567{fill:url(#SVGID_435_);}
.st568{fill:url(#SVGID_436_);}
.st569{clip-path:url(#SVGID_438_);}
.st570{clip-path:url(#SVGID_440_);fill:#001A70;}
.st571{clip-path:url(#SVGID_440_);fill:#005BBA;}

// .team {
// 	z-index: 9;
// 	fill: #5EBDEE;
// }

// .st164, .st447 {
// 	z-index: 2;
// }

// texts
.st211, .centerText {
	pointer-events: none;
}